.product {
    border: 1px solid lightgray;
    border-radius: 10px;
    padding-bottom: 10px;
    text-align: center;
    margin: 10px;
}

.product-container p:hover {
    color: orange;
    font-size: large;
    font-weight: 400;
}